{% extends "base.html" %}
{% block content %}

  <div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Dish Types</h1>
      <a href="{% url 'management_system:dish-type-create' %}" class="btn btn-primary">Create Dish Type</a>
    </div>

    {% if dish_type_list %}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Details</th>
          </tr>
          </thead>
          <tbody>
          {% for dish_type in dish_type_list %}
            <tr>
              <th scope="row">{{ dish_type.id }}</th>
              <td>{{ dish_type.name }}</td>
              <td><a href="{% url 'management_system:dish-type-update' pk=dish_type.id %}" class="btn btn-primary btn-sm">Update</a></td>
              <td><a href="{% url 'management_system:dish-type-delete' pk=dish_type.id %}" class="btn btn-primary btn-sm">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="text-center text-muted">No dish types found.</p>
    {% endif %}
  </div>

{% endblock %}