{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container my-5">
    <div class="row align-items-center mb-4">
      <div class="col-md-6">
        <h1 class="mb-0">Dish Types</h1>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="{% url 'management_system:dish-type-create' %}" class="btn btn-primary mt-2">
          Create Dish Type
        </a>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <form method="get" class="row g-3 align-items-center">
          <div class="col-md-8 col-lg-9">
            {{ search_form.name|as_crispy_field }}
          </div>
          <div class="col-md-4 col-lg-3 text-end">
            <button type="submit" class="btn btn-outline-primary">
              <i class="bi bi-search me-2"></i>Search
            </button>
            <a href="{% url 'management_system:dish-type-list' %}" class="btn btn-outline-secondary ms-2">
              <i class="bi bi-x-circle me-2"></i>Reset
            </a>
          </div>
        </form>
      </div>
    </div>

    {% if dish_type_list %}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for dish_type in dish_type_list %}
            <tr>
              <td>{{ dish_type.id }}</td>
              <td>{{ dish_type.name }}</td>
              <td>
                <a href="{% url 'management_system:dish-type-update' pk=dish_type.id %}"
                   class="btn btn-primary btn-sm me-2">
                  Update
                </a>
                <a href="{% url 'management_system:dish-type-delete' pk=dish_type.id %}" class="btn btn-danger btn-sm">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info">
        No dish types found.
      </div>
    {% endif %}
  </div>
{% endblock %}
