<ul class="sidebar-nav list-group">
  {% comment %}{% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}{% endcomment %}

  <li class="list-group-item"><a href="#">Home</a></li>
  <li class="list-group-item"><a href="{% url 'management_system:dish-list' %}">Dishes</a></li>
  <li class="list-group-item"><a href="{% url 'management_system:dish-type-list' %}">Dish Types</a></li>
  <li class="list-group-item"><a href="{% url 'management_system:cooks-list' %}">Cooks</a></li>
</ul>
