{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-5">
    <div class="card w-50 mx-auto">
      <div class="card-body">
        <h5 class="card-title">Delete Cook</h5>
        <p>Are you sure you want to delete the cook: {{ cook }}?</p>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
          <a href="{% url 'management_system:cooks-list' %}" class="btn btn-secondary mt-2 mt-2">Cancel</a>
          <button type="submit" class="btn btn-danger mt-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
